
doctype html
html
    head
        title My Site
        link(href="./css/style.css", rel="stylesheet")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

    body(class="relative")
        header
            div.container
                div.hdrLeft
                    a(href="") 
                        img(src="./images/Logo.png", alt="")
                    ol 
                        li 
                            a(href="") Menu
                        li 
                            a(href="") Blog
                        li 
                            a(href="") Pricing
                        li 
                            a(href="") Contact
                div.hdrRight
                    a(href="", class="login") Login
                    a(href="", class="sign") Sign up
        main()
            div.container.titelBlock
                div.left
                    div.desc1
                        div.line
                        p OVER 1000 USERS
                    h1 Enjoy Foods All <br> Over The 
                     span World
                    p.desc2 EatLy help you set saving goals, earn cash back offers, Go to disclaimer for more details and get paychecks up to two days early. Get a 
                        span $20 bonus.
                    div.btns
                        a(href="", class="start") Get Started
                        a(href="", class="go") Go Pro
                    div.rating 
                        img(src="./images/trustpilot-1 1.png", alt="")
                        div.stars
                            ol 
                                li
                                    img(src="./images/star.svg", alt="")
                                li
                                    img(src="./images/star.svg", alt="")
                                li
                                    img(src="./images/star.svg", alt="")
                                li
                                    img(src="./images/star.svg", alt="")
                                li
                                    img(src="./images/star.svg", alt="")
                            p 4900+


                div.right
                    img(src="./images/Hero.png", alt="")
            
            //- ===========================================
            div.container.numbersList
                div.col
                    p.num 10K+
                    p.txt Satisfied Costumers <br> All Great Over The World
                div.line
                div.col
                    p.num 4M
                    p.txt Healthy Dishes Sold <br> Including Milk Shakes Smooth
                div.line
                div.col
                    p.num 99.99%
                    p.txt Reliable Customer Support <br> We Provide Great Experiences
            //- ===========================================
            div.container.premiumQual
                .grid
                    .left 
                        img(src="./images/Mobile.png", alt="") 
                    .right
                        h2 Premium <span>Quality</span><br>For Your Health
                        ul 
                            li Premium quality food is made with ingredients that are packed with essential vitamins, minerals.
                            li These foods promote overall wellness by support healthy digestion and boosting immunity
                        a.btn Download <img src="./images/btnArrow.png">
                            
                        img(src="./images/arrow.png", alt="", class="arrow") 
                .line 
                
                    












