include ../components/bigCard.pug
include ../components/littleCard.pug
include ../components/dateCard.pug
include ../components/purchaseCards.pug
include ../components/comment.pug
include ../components/accordion.pug
doctype html
html
    head
        title My Site
        link(href="./css/style.css", rel="stylesheet")
        link(href="./libs/owlcarousel/assets/owl.carousel.min.css", rel="stylesheet")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="./libs/jquery-3.7.1.min.js")  
        script(src="./libs/owlcarousel/owl.carousel.min.js")  
        script(src="./js/main.js")  
        script(src="./pages/menuResturent/js/script.js") 
        //- script(src="./node_modules/owl.carousel/dist/owl.carousel.min.js") 
    body(class="relative")
        header
            div.container
                .mainMenu
                    div.hdrLeft
                        a(href="./") 
                            img(src="./images/Logo.png", alt="")
                        ol 
                            li 
                                a(href="./menu.html") Menu
                            li 
                                a(href="") Blog
                            li 
                                a(href="") Pricing
                            li 
                                a(href="") Contact
                    div.hdrRight
                        a(href="", class="login") Login
                        a(href="", class="sign") Sign up
                    div.hdrRightMobile
                        img(src="./images/menu.svg", alt="", class="openMenuBtn") 
           
                .bottomline

        main()

            .container.bigFoodCard
                .card
                    .image
                        img(src="./images/bigImageCard.png", alt="") 
                    .con 
                        div(class="tag colorYellow") Healthy
                        .name The Chicken King
                        .cardFooter
                            .timeaAndStars 
                                .time="24min •"
                                .stars
                                    img(src="./images/cardStar.svg", alt="")
                                    p 4.8
                            a(href="").right 
                                img(src="./images/Bookmark.svg", alt="")
            //- ===========================================
            .container
                .blockHdrType3
                    h2 Popular 🔥
                        img(src="", alt="")
            div.container.cardsList5cols.menuResturent
                
                .grid 
                    +littleCard({image:"./images/litteleCards/Food Image1.png",name:"Chicken Hell",tag:"Healthy",time:"24min",stars:"4.8",tag_color:"colorYellow",price1:"$12",price2:"99"})
                    +littleCard({image:"./images/litteleCards/Food Image2.png",name:"Swe Dish",tag:"Trending",time:"34min",stars:"4.9",tag_color:"colorRed",price1:"$19",price2:"99"})
                    +littleCard({image:"./images/litteleCards/Food Image3.png",name:"Swe Dish",tag:"Supreme",time:"34min",stars:"4.9",tag_color:"colorGreen",price1:"$19",price2:"99"})
                    +littleCard({image:"./images/litteleCards/Food Image4.png",name:"Chicken Hell",tag:"Healthy",time:"24min",stars:"4.8",tag_color:"colorYellow",price1:"$12",price2:"99"})
                    +littleCard({image:"./images/litteleCards/Food Image5.png",name:"Swe Dish",tag:"Trending",time:"34min",stars:"4.9",tag_color:"colorYellow",price1:"$19",price2:"99"})

                
            //- ===========================================
            .container
                .blockHdrType3
                    h2 Chicken Vegetables
            div.container.cardsList5cols.menuResturent
                
                .grid 
                    +littleCard({image:"./images/litteleCards/Food Image1.png",name:"Chicken Hell",tag:"Healthy",time:"24min",stars:"4.8",tag_color:"colorYellow",price1:"$12",price2:"99"})
                    +littleCard({image:"./images/litteleCards/Food Image2.png",name:"Swe Dish",tag:"Trending",time:"34min",stars:"4.9",tag_color:"colorRed",price1:"$19",price2:"99"})
                .line
                
            //- ===========================================
            .container
                .blockHdrType2
                    h2 Frequently Asked <br><span>Questions</span>
            .container.accprdionList 
                +accordion({title:"How long does delivery take?",text:"You Can Get Information By Contacting Our Support Team Have 24/7 Service. What’s The Difference Between Free And Paid Plan ?"})
                +accordion({title:"How Does It Work ?",text:"You Can Get Information By Contacting Our Support Team Have 24/7 Service. What’s The Difference Between Free And Paid Plan ?"})
                +accordion({title:"How does your food delivery service work?",text:"You Can Get Information By Contacting Our Support Team Have 24/7 Service. What’s The Difference Between Free And Paid Plan ?"})
                +accordion({title:"What payment options do you accept?",text:"You Can Get Information By Contacting Our Support Team Have 24/7 Service. What’s The Difference Between Free And Paid Plan ?"})
                +accordion({title:"Do you offer discounts or promotions?",text:"You Can Get Information By Contacting Our Support Team Have 24/7 Service. What’s The Difference Between Free And Paid Plan ?"})
        footer 
            .container
                .menu 
                    .left 
                        a(href="./").logo 
                            img(src="./images/Logo.png", alt="")
                    .right
                        ol 
                            li 
                                a(href="") Blog
                            li 
                                a(href="") Pricing
                            li 
                                a(href="") About Us
                            li 
                                a(href="") Contact
                .bottomline
                .info 
                    .left 
                        p © 2023 EATLY All Rights Reserved.
                    .right
                        a(href="")
                            img(src="./images/social/f.svg", alt="") 
                        a(href="")
                            img(src="./images/social/in.svg", alt="") 
                        a(href="")
                            img(src="./images/social/inst.svg", alt="") 
                        a(href="")
                            img(src="./images/social/tw.svg", alt="") 
        .mainMenuPopUp.hidden
            .hdr 
                img(src="./images/closeCross.svg", alt="", class="closeMMenuBtn")
            ol.menu
                li  
                    a(href="") Menu
                li 
                    a(href="") Blog
                li 
                    a(href="") Pricing
                li 
                    a(href="") Contact





























            
                    












