mixin accordion(item)
    .accordion
        .accordionHead
            p=item.title 
            .openAccBtn
        .accordionMain
            .accordionCon
                p.text=item.text
        .accLine