mixin dateCard(item)
    div(class="dateCard card "+item.act)
        .image 
            img(src=item.image, alt="")
        .con
            .name=item.name
            div(class="stts " + item.sttsColor)=item.stts
            .date=item.date